/*global*/
/*Note 1: Global applies to all*
/*Note 2: The slash and asterisk allows you to take notes down and is green font*/
body{
    background-color:lightgray;
    color: black;
    font-family: garamond;
}
/*please note that Google Fonts is more modern than old ones like Arial, etc.*/

p{
    line-height: 1.5;
}
h1,h2,h3{
    text-align: center;
    text-decoration: dashed;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
img{
    max-width:80%;
}
/*utilities*/
.grid-two-columns{
    display: flex;
}
.two-sm-columns{
    display: outside; 
}
.left-sm-columns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}
.right-sm-columns{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 10px;
    height: 150px;
    width: 100px;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
}
.btn{
    background-color: darkgray;
    color: black;
    text-shadow: 1px 1px 1px white, 1px 1px 1px white;
    margin:50px;
    padding:20px;
    text-align:center;
    border-radius: 5px;
    letter-spacing: 3px;
}
.btn-sm{
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px auto;
    padding:10px;
}
/*header*/

.site-header{
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
    width:25%;
}
.site-header img{
    display: block;
    margin:10px auto;
    border-radius: 20px;
    border:10px solid #c4942d;
    padding: 2px;
}
.site-header h1{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 6px;
    font-size: 36px;
    color:black;
    text-shadow: 1px 1px 1px white, 2px 2px 1px white;
}
.site-header h2{
    text-transform: full-width;
    text-align: center;
    letter-spacing: 4px;
    font-size: 18px;
}
.geo-location{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}
.greeting{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom:0;
}
.my-name span{
        color:blue;
}    

/* Services*/
h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.the-services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.services{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    height: 150px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
.icon{
    text-align: center;
    font-size: 40px;
}
.service:hover{
        background-color: white;
        cursor: pointer;
}
/*projects*/
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.the-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.projects{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
    height: 150px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
.icon{
    text-align: center;
    font-size: 40px;
}
.service:hover{
        background-color: white;
        cursor: pointer;
}
/*nav*/
.menu a{
    display: block
}
.about-main img{
    display: block;
    margin:10px auto;
    width: 700px;
    border-radius: 20px;
    border:10px solid #c4942d;
    padding: 2px;
}
/*main*/
main{
    display: inline;
    flex-direction:column;
    justify-content: center;
    color:black;
    width: 75%;
}
li{
    display: inline ;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:10px;
}

li:before{
    <i class="fa-solid fa-bars-progress"></i>;
}

/*footer*/

footer{
        display: flex;
        flex-direction: column;
        align-items: center;
}
footer a{
        font-size: 50px;
        color: blue;
        margin-right: 30px;
}